@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@100;300;400;500;700&display=swap");
html {
  overflow-x: hidden;
}

html,
body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

html ::-webkit-scrollbar,
body ::-webkit-scrollbar {
  width: 4px;
}

html ::-webkit-scrollbar-track,
body ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

html ::-webkit-scrollbar-thumb,
body ::-webkit-scrollbar-thumb {
  background: #888;
}

html ::-webkit-scrollbar-thumb:hover,
body ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  color: #443a44;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

.mt-43 {
  margin-top: 0;
}

@media (min-width: 768px) {
  .mt-43 {
    margin-top: 43px;
  }
}

.mb-60 {
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .w-mdmax-100 {
    width: 100%;
  }
}

.banner-slider .carousel .carousel-caption .btn-wrap, .web-services .tab-content .list-wrap .btn-wrap {
  margin-top: 20px;
}

.banner-slider .carousel .carousel-caption .btn-wrap .btn, .web-services .tab-content .list-wrap .btn-wrap .btn {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 27px;
  line-height: 40px;
  border-radius: 0;
  -webkit-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
  position: relative;
}

.banner-slider .carousel .carousel-caption .btn-wrap .btn .show-price, .web-services .tab-content .list-wrap .btn-wrap .btn .show-price {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  width: 138px;
  display: none;
  position: absolute;
  line-height: 40px;
  padding: 0 17px;
  background: #fff;
  color: #443a44;
  right: -139px;
  -webkit-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}

.banner-slider .carousel .carousel-caption .btn-wrap .btn:hover .show-price, .web-services .tab-content .list-wrap .btn-wrap .btn:hover .show-price {
  display: inline-block;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
       -o-transform-origin: left;
          transform-origin: left;
  -webkit-animation: buttonSlideRight 500ms ease-in-out forwards;
       -o-animation: buttonSlideRight 500ms ease-in-out forwards;
          animation: buttonSlideRight 500ms ease-in-out forwards;
}

.banner-slider .carousel .carousel-caption .btn-wrap .btn:focus, .web-services .tab-content .list-wrap .btn-wrap .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.web-services .tab-content .list-wrap ul li::before, .footer .product-services li::before {
  content: "";
  width: 12px;
  height: 12px;
  border: 2px solid #2eaeff;
  border-radius: 50%;
  position: absolute;
  left: -30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

@-webkit-keyframes dropdownSlideDown {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  80% {
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-o-keyframes dropdownSlideDown {
  0% {
    -o-transform: scaleY(0);
       transform: scaleY(0);
  }
  80% {
    -o-transform: scaleY(1.1);
       transform: scaleY(1.1);
  }
  100% {
    -o-transform: scaleY(1);
       transform: scaleY(1);
  }
}

@keyframes dropdownSlideDown {
  0% {
    -webkit-transform: scaleY(0);
         -o-transform: scaleY(0);
            transform: scaleY(0);
  }
  80% {
    -webkit-transform: scaleY(1.1);
         -o-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
         -o-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes buttonSlideRight {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  80% {
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-o-keyframes buttonSlideRight {
  0% {
    -o-transform: scaleY(0);
       transform: scaleY(0);
  }
  80% {
    -o-transform: scaleY(1.1);
       transform: scaleY(1.1);
  }
  100% {
    -o-transform: scaleY(1);
       transform: scaleY(1);
  }
}

@keyframes buttonSlideRight {
  0% {
    -webkit-transform: scaleY(0);
         -o-transform: scaleY(0);
            transform: scaleY(0);
  }
  80% {
    -webkit-transform: scaleY(1.1);
         -o-transform: scaleY(1.1);
            transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
         -o-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.sub-header {
  background-color: #fff;
  padding: 12px 0;
  border-bottom: 1px solid #f1f1f1;
}

.sub-header .welcome-message {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 1px;
  color: #443a44;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .sub-header .welcome-message {
    margin-bottom: 8px;
  }
}

.sub-header .contacts a {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  color: #4a4a4a;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: 992px) {
  .sub-header .contacts a {
    font-size: 14px;
  }
}

.sub-header .social-icons a {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #4a4a4a;
  text-transform: uppercase;
  text-decoration: none;
  padding: 4px;
  margin: 0 4px;
}

.sub-header .social-icons a:last-child {
  margin-right: 0;
}

.mobile-toggle {
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.header .navbar {
  -webkit-transition: 0.6s ease-in;
  -o-transition: 0.6s ease-in;
  transition: 0.6s ease-in;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.08);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.08);
}

.header .navbar .navbar-nav .nav-item {
  -webkit-transition: 0.6s ease-in;
  -o-transition: 0.6s ease-in;
  transition: 0.6s ease-in;
}

@media (min-width: 992px) {
  .header .navbar .navbar-nav .nav-item {
    margin: 0 12px;
  }
}

.header .navbar .navbar-nav .nav-item .nav-link {
  font-size: 14px;
  color: #19506d;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  letter-spacing: 0.4px;
}

.header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #267ae9;
}

.header .navbar .navbar-nav .nav-item .nav-link::after {
  display: none;
}

.header .navbar .navbar-nav .nav-item .nav-link.active {
  font-weight: 600;
}

.header .navbar .navbar-nav .nav-item .dropdown .dropdown-menu {
  -webkit-box-shadow: 0 6px 12px #0000002d;
          box-shadow: 0 6px 12px #0000002d;
  border-radius: 0;
  border: none;
  display: none;
}

.header .navbar .navbar-nav .nav-item .dropdown .dropdown-menu li {
  margin: 8px auto;
}

.header .navbar .navbar-nav .nav-item .dropdown .dropdown-menu li .dropdown-item {
  color: #19506d;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.header .navbar .navbar-nav .nav-item .dropdown .dropdown-menu li .dropdown-item:hover {
  color: #267ae9;
}

.header .navbar .navbar-nav .nav-item .dropdown .dropdown-menu li .dropdown-item:active {
  background-color: #fff;
}

.header .navbar .navbar-nav .nav-item .dropdown:hover .dropdown-animated {
  display: block;
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
       -o-transform-origin: top;
          transform-origin: top;
  -webkit-animation: dropdownSlideDown 500ms ease-in-out forwards;
       -o-animation: dropdownSlideDown 500ms ease-in-out forwards;
          animation: dropdownSlideDown 500ms ease-in-out forwards;
}

.header .navbar .btn-login {
  width: 180px;
  font-size: 14px;
  background-color: #f95732;
  color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body.offcanvas-active {
  overflow: hidden;
}

.offcanvas-header {
  display: none;
}

.screen-darken {
  height: 100%;
  width: 0%;
  z-index: 30;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(34, 34, 34, 0.6);
  -webkit-transition: opacity 0.2s linear, visibility 0.2s, width 2s ease-in;
  -o-transition: opacity 0.2s linear, visibility 0.2s, width 2s ease-in;
  transition: opacity 0.2s linear, visibility 0.2s, width 2s ease-in;
}

.screen-darken.active {
  z-index: 10;
  -webkit-transition: opacity 0.3s ease, width 0s;
  -o-transition: opacity 0.3s ease, width 0s;
  transition: opacity 0.3s ease, width 0s;
  opacity: 1;
  width: 100%;
  visibility: visible;
}

/* ============ mobile view ============ */
@media all and (max-width: 991px) {
  .offcanvas-header {
    display: block;
  }
  .mobile-offcanvas {
    visibility: hidden;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
         -o-transform: translateX(-100%);
            transform: translateX(-100%);
    border-radius: 0;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 80%;
    z-index: 1200;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -o-transition: visibility 0.3s ease-in-out, -o-transform 0.3s ease-in-out;
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -o-transform 0.3s ease-in-out;
  }
  .mobile-offcanvas.show {
    visibility: visible;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0);
  }
  .mobile-offcanvas {
    display: block;
  }
}

.banner-slider .carousel .carousel-caption {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  padding: 0;
  text-align: center;
}

@media (min-width: 768px) {
  .banner-slider .carousel .carousel-caption {
    text-align: left;
    left: 8%;
    right: 15%;
  }
}

.banner-slider .carousel .carousel-caption h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 100;
  color: #fff;
  letter-spacing: 1px;
}

@media (min-width: 576px) {
  .banner-slider .carousel .carousel-caption h2 {
    font-size: 35px;
  }
}

@media (min-width: 768px) {
  .banner-slider .carousel .carousel-caption h2 {
    font-size: 45px;
  }
}

@media (min-width: 992px) {
  .banner-slider .carousel .carousel-caption h2 {
    font-size: 60px;
  }
}

@media (min-width: 1200px) {
  .banner-slider .carousel .carousel-caption h2 {
    font-size: 65px;
  }
}

.banner-slider .carousel .carousel-caption p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.1px;
  margin-left: 4px;
  max-width: 400px;
  margin: 30px 0;
}

.banner-slider .carousel .carousel-control-prev {
  width: 34px;
  background: #383a4c;
  color: #b5b5b5;
  font-size: 16px;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 100px;
}

.banner-slider .carousel .carousel-control-next {
  width: 34px;
  background: #383a4c;
  color: #b5b5b5;
  font-size: 16px;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 100px;
}

.web-services {
  padding: 60px 0 0;
}

@media (max-width: 991px) {
  .web-services .nav {
    width: 100%;
  }
}

.web-services .nav .nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #f0f5f6;
  border-radius: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  height: 80px;
  padding: 20px;
  width: 100%;
  max-width: 100%;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

@media (min-width: 992px) {
  .web-services .nav .nav-link {
    width: 310px;
    padding: 30px;
    height: 100px;
  }
}

.web-services .nav .nav-link .img-wrap {
  margin-right: 18px;
  width: 44px;
  display: inline-block;
}

@media (min-width: 992px) {
  .web-services .nav .nav-link .img-wrap {
    margin-right: 40px;
  }
}

.web-services .nav .nav-link:hover {
  background-color: #2eaeff;
  color: #fff;
}

.web-services .nav .nav-link.active {
  background-color: #42b6ff;
}

.web-services .tab-content .img-wrap {
  position: relative;
  text-align: center;
}

.web-services .tab-content .img-wrap .img-sm-wrap {
  width: 140px;
  height: 140px;
  position: absolute;
  right: 0;
  top: 110px;
  -webkit-box-shadow: 3px 0 79px rgba(0, 0, 0, 0.08);
          box-shadow: 3px 0 79px rgba(0, 0, 0, 0.08);
  background: #fff;
  border-radius: 50%;
}

.web-services .tab-content .list-wrap h3 {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  color: #443a44;
}

.web-services .tab-content .list-wrap ul {
  list-style-type: none;
}

.web-services .tab-content .list-wrap ul li {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #443a44;
  line-height: 3;
  letter-spacing: 0.4px;
}

@media (min-width: 1200px) {
  .web-services .tab-content .list-wrap ul li {
    letter-spacing: 1px;
  }
}

.web-services .tab-content .list-wrap .btn-wrap .btn .show-price {
  background: #000;
  color: #42b6ff;
}

.why-choose {
  padding: 80px 0 50px;
  background-color: #f6fafb;
}

.why-choose h5 {
  font-weight: bold;
  margin-top: 15px;
}

.why-choose h2 {
  font-size: 24px;
  font-weight: 100;
}

@media (min-width: 576px) {
  .why-choose h2 {
    font-size: 32px;
  }
}

@media (min-width: 992px) {
  .why-choose h2 {
    font-size: 48px;
  }
}

.why-choose .services-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  margin: auto;
}

@media (min-width: 768px) {
  .why-choose .services-wrap {
    width: 360px;
  }
}

.why-choose .services-wrap .img-wrap {
  width: 80px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-right: 20px;
}

.why-choose .services-wrap .content-box h5 {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 15px;
}

.why-choose .services-wrap .content-box p {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.pricing-plan {
  padding: 80px 0 0;
  background-color: #267ae9;
}

.pricing-plan h4 {
  font-size: 14px;
  color: #fff;
}

.pricing-plan h2 {
  font-size: 24px;
  font-weight: 100;
  color: #fff;
}

@media (min-width: 576px) {
  .pricing-plan h2 {
    font-size: 32px;
  }
}

@media (min-width: 992px) {
  .pricing-plan h2 {
    font-size: 48px;
  }
}

.pricing-plan .pricing-card {
  width: 350px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.pricing-plan .pricing-card .pricing-head {
  background-color: #f0f5f6;
  padding: 40px 6px 0;
  border-bottom: 30px solid #f5f5f5;
}

.pricing-plan .pricing-card .pricing-head h3 {
  font-size: 36px;
  font-weight: 300;
  color: #267ae9;
}

.pricing-plan .pricing-card .pricing-head h3 .currency {
  font-size: 18px;
  vertical-align: super;
}

.pricing-plan .pricing-card .pricing-head h3 sub {
  font-size: 12px;
}

.pricing-plan .pricing-card .pricing-head h4 {
  font-weight: 500;
  font-size: 12px;
  line-height: 32px;
  letter-spacing: 1px;
  color: #080808;
  margin: 0;
  display: inline-block;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}

@media (min-width: 992px) {
  .pricing-plan .pricing-card .pricing-head h4 {
    line-height: 42px;
  }
}

.pricing-plan .pricing-card .pricing-body {
  background-color: #fff;
  padding-bottom: 45px;
}

.pricing-plan .pricing-card .pricing-body ul {
  padding: 25px 0;
  margin-bottom: 0;
}

.pricing-plan .pricing-card .pricing-body ul li {
  font-size: 14px;
  font-weight: 300;
  line-height: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #6e6a6a;
}

.pricing-plan .pricing-card .pricing-body .btn {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
  border-radius: 0;
  padding: 8px 24px;
  display: inline-block;
  text-transform: uppercase;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.pricing-plan .pricing-card.popular .pricing-head {
  background-color: #42b6ff;
  border-color: #42b6ff;
}

.pricing-plan .pricing-card.popular .pricing-head h3 {
  font-size: 46px;
  color: #fff;
}

.pricing-plan .pricing-card.popular .pricing-head h3 .currency {
  font-size: 24px;
}

@media (min-width: 992px) {
  .pricing-plan .pricing-card.popular .pricing-head h3 {
    font-size: 72px;
  }
}

.pricing-plan .pricing-card.popular .pricing-head h4 {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.3);
}

@media (min-width: 1200px) {
  .pricing-plan .pricing-card.popular .pricing-head h4 {
    font-size: 14px;
  }
}

.pricing-plan .pricing-card.popular .pricing-body .btn {
  background-color: #42b6ff;
  border-color: #42b6ff;
}

.pricing-plan .pricing-card.popular .pricing-body .btn:hover {
  background-color: #0fa2ff;
}

.partners-clients {
  padding: 80px 0;
  background: #f1f6f8;
}

.partners-clients h4 {
  font-size: 14px;
  color: #443a44;
}

.partners-clients h2 {
  font-size: 24px;
  font-weight: 100;
  color: #443a44;
}

@media (min-width: 576px) {
  .partners-clients h2 {
    font-size: 32px;
  }
}

@media (min-width: 992px) {
  .partners-clients h2 {
    font-size: 48px;
  }
}

.partners-clients .splide .clients-slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners-clients .splide .clients-slider .splide__slide {
  text-align: center;
}

.partners-clients .splide .splide__pagination {
  display: none;
}

.partners-clients .counter-wrap h3 {
  font-size: 36px;
  color: #080808;
  text-align: center;
}

.partners-clients .counter-wrap h5 {
  font-size: 12px;
  letter-spacing: 1px;
  color: #443a44;
  text-transform: uppercase;
  text-align: center;
}

.footer {
  background-color: #0c112a;
}

.footer .bg-blue {
  background-color: #267ae9;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #0c112a;
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

@media (min-width: 992px) {
  .footer .bg-blue {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: none;
  }
}

.footer .bg-blue a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 56px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  padding: 0 10px;
}

@media (min-width: 992px) {
  .footer .bg-blue a {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .bg-blue a:hover {
  color: #0c112a;
}

.footer .brand-logo {
  display: inline-block;
  color: #fff;
  margin-bottom: 36px;
  font-style: italic;
}

.footer p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  color: #595f7c;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.footer h3 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 1px;
  margin: 0 0 22px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
}

.footer .country-dropdown .btn {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
}

.footer .country-dropdown .btn img {
  width: 32px;
  margin-right: 10px;
}

.footer .country-dropdown .btn::after {
  display: none;
}

.footer .country-dropdown .btn svg {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-left: 20px;
}

.footer .country-dropdown .dropdown-menu {
  -webkit-box-shadow: 0 6px 12px #0000002d;
          box-shadow: 0 6px 12px #0000002d;
  border-radius: 0;
  border: none;
}

.footer .country-dropdown .dropdown-menu li {
  margin: 8px auto;
}

.footer .country-dropdown .dropdown-menu li .dropdown-item {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #19506d;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.footer .country-dropdown .dropdown-menu li .dropdown-item:hover {
  color: #267ae9;
}

.footer .country-dropdown .dropdown-menu li .dropdown-item:active {
  background-color: #fff;
}

.footer .product-services {
  list-style-type: none;
}

.footer .product-services li {
  position: relative;
}

.footer .product-services li a {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 3;
  color: #595f7c;
  white-space: nowrap;
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

.footer .product-services li a:hover {
  color: #fff;
}

.footer .row.row-style {
  border-top: 1px solid #1a2140;
  padding-top: 40px;
}

.footer .social-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .footer .social-icons {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer .social-icons a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #192043;
  color: #fff;
  margin: 0 10px;
}

.footer .social-icons a:first-child {
  margin-left: 0;
}

.footer .social-icons a:last-child {
  margin-right: 0;
}

.footer .social-icons a:hover {
  color: #42b6ff;
}

.footer .subscribe-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .footer .subscribe-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer .subscribe-wrap label {
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
  width: 150px;
}

.footer .subscribe-wrap label span {
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.footer .subscribe-wrap label small {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 14px;
  color: #595f7c;
  line-height: 1;
}

.footer .subscribe-wrap .input-group input {
  font-family: "Roboto", sans-serif;
  background: #121a3e;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.footer .subscribe-wrap .input-group button {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  background: #121a3e;
  border: 1px solid #929292;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

.footer .subscribe-wrap .input-group button:hover {
  background-color: #267ae9;
  border-color: #267ae9;
}

.footer .sub-footer {
  background-color: #090d20;
  padding: 30px 0 0;
}

.footer .sub-footer p {
  text-align: center;
}

.footer .sub-footer .tech-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 20px 0;
}

.footer .sub-footer .tech-wrap img {
  margin: 8px;
  width: 42px;
}

.footer .sub-footer .foot-links a {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #42b6ff;
  -webkit-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .footer .sub-footer .foot-links a {
    margin-bottom: 0;
  }
}

.footer .sub-footer .foot-links a:hover {
  color: #0fa2ff;
}

.footer .sub-footer .foot-links span {
  color: #595f7c;
  margin: 0 8px;
}

.footer .sub-footer .copyrights {
  border-top: 1px solid #0c112a;
  line-height: 25px;
  padding: 20px 0;
  color: #595f7c;
  font-weight: 300;
  letter-spacing: 1px;
}
